<!--Элемент HTML form используется в качестве контейнера для веб-формы.
Атрибут action формы используется для того, чтобы сообщить веб-браузеру URL-адрес, 
который должен использоваться при отправке информации, введенной пользователем в форму.

Атрибут method указывает метод HTTP-запроса, 
который должен использоваться при отправке формы на сервер.

Атрибут novalidate используется для указания веб-браузеру не применять проверку к полям в этой форме, 
что фактически оставляет эту задачу приложению Flask, запущенному на сервере.

Аргумент шаблона form.hidden_tag()создает скрытое поле, содержащее токен, 
используемый для защиты формы от атак CSRF. Нужно лишь включить это поле и определить SECRET_KEY
-->
{%extends "base.html"%}

{%block content%}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p>
            {{form.username.label}}<br> <!--метка поля-->
            {{form.username(size=32)}} <!-- само поле-->
        </p>
        <p>
            {{form.password.label}}<br>
            {{form.password(size=32)}}
        </p>
        <p>{{form.remember_me()}} {{form.remember_me.label}}</p>
        <p>{{form.submit()}}</p>
    </form>
{%endblock%}